.homeinbody				{ margin:0px; background:url(../images/main_bg_inner.jpg) repeat-x; }
.menuinnerbg			{ background-color:#fff9d4; border:1px solid #fbe292;}
.menuinnerbg a 			{ background:url(../images/menu_line_bg.jpg) no-repeat 0px 24px; width:165px; height:22px; display:block; padding:5px 0px 0px 5px; font-family:arial; font-size:12px; color:#333333; text-decoration:none; }
.menuinnerbg a:hover	{ background:url(../images/menu_box_bg.jpg) no-repeat 0px 0px; width:165px; height:22px; display:block; padding:5px 0px 0px 5px; font-family:arial; font-size:12px; color:#db1a15; text-decoration:none; }
.titlebg				{ background:url(../images/inner_title_bg.jpg) top left no-repeat; width:164px; height:31px;}
h1.title				{ font-family:Arial; font-size:16px; color:#dd1815; font-weight:bold; margin:0px; padding:7px 0px 0px 0px; text-align:center;}
.menuend				{ background-color:#fcd15c; border-right:1px solid #ad590a; border-left:1px solid #ad590a; border-bottom:1px solid #ad590a;}
.menuend1				{ background-color:#fcd15c; border-right:1px solid #ad590a; border-left:1px solid #ad590a; }
.menuend2				{ ackground-color:#fcd15c; border-right:1px solid #ad590a; border-left:1px solid #ad590a; border-bottom:1px solid #ad590a;}

.loginbg				{ background:url(../images/login_inbg.jpg) left top no-repeat;}
.upgnow					{ background:url(../images/upgrade_now.jpg) no-repeat right bottom; background-color:#fff2d4; border-top:1px solid #d8caad; border-bottom:1px solid #d8caad; border-right:1px solid #d8caad; }	
.loginbox			 	{ font-family:  Arial;  font-size: 12px; height:18px; width: 118px; border: 1px #707e49 solid; background-color:#FFFFFF; font-weight:normal;	}
a.forgot 				{ color:#405e11; font-family:Arial; font-size:12px; font-weight:bold;  text-decoration:underline; }
a.forgot:hover			{ color:#a80326; font-family:Arial; font-size:12px; font-weight:bold;  text-decoration:none; }
.inlog	 				{ color:#000000; font-family:Arial; font-size:12px;}
.benfits				{ margin:0px; padding:0px 0px 5px 10px; color:#bc3a3a; font-size:12px;   }
h4.htitle				{ margin:0px; padding:5px 0px 5px 0px; color:#ba3501; font-family:Arial; font-size:19px; }
h5.mlogin			 	{ margin:0px; font-family:arial; font-size:13px; color:#a80326; font-weight:bold;}
a.member 				{ color:#d16c00; font-family:Arial; font-size:12px; text-decoration:underline; }
a.member:hover			{ color:#d16c00; font-family:Arial; font-size:12px; text-decoration:none; }
a.idclr					{ font-family:Arial; font-size:12px; color:#dd1815; text-decoration:underline;}
a.idclr:hover			{ font-family:Arial; font-size:12px; color:#dd1815; text-decoration:none;}
